TABLE {
	border-collapse: collapse;
	text-align: center;
}
TD,
TH {
	padding: 3px;
	border: 1px solid black;
}
.fields {
	color: brown;
}
.company_name {
	width: 200px;
}
.company_address {
	width: 200px;
}
.people_counter {
	width: 45px;
}
.edit {
	width: 120px;
}
